#dialogue {
     background-color:white;
     visibility: hidden;
     top : 10vh;
     left: 10vw;
     height:20vh;
     width: 80vw;
     position:absolute;
}

.line_dialogue{
    /* margin: auto; */
    /* background-color: black; */
    width:100%;
    /* height: 5vh; */
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 3vh;
}


body{
     overflow: hidden;
     overflow-x: hidden;
     overflow-y: hidden;
}

.flipped{
     transform: scale(-1, 1);
     -moz-transform: scale(-1, 1);
     -webkit-transform: scale(-1, 1);
     -o-transform: scale(-1, 1);
     -khtml-transform: scale(-1, 1);
     -ms-transform: scale(-1, 1);
}

.rotate {
     animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
